.about {
  padding-top: 100px;
  text-align: justify;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.about h2 {
  margin-bottom: 2em;
}

.about p {
  color: #aaa;
  margin-bottom: 2em;
}

.about a {
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
}
