.post_container {
  padding-top: 100px;
  text-align: center;
}

.post_container h1 {
  margin-bottom: 1em;
}

.post_container img,
p,
h3 {
  margin-bottom: 1em;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 0.8em;
}

.tags span {
  font-weight: bold;
}
