.post_container {
  text-align: center;
}

.post_container h3 {
  margin-bottom: 0.2em;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}

.createdBy {
  font-style: italic;
  color: #444;
}

@media screen and (max-width: 1024px) {
  .post_container img {
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .post_container img {
    max-width: 300px;
  }
}
