header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px;
  transition: all ease 0.5s;
  background: transparent;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.header_black {
  background: #0c0c0c;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
}

.btn_logout {
  margin-left: 0.4em;
}

.active {
  background: white;
  color: black;
}

.active:hover {
  color: black;
}

.menu_icon {
  display: none;
  font-size: 1em;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    transition: none;
  }

  .header_black {
    background: #202020;
  }

  .links_list {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #202020;
    transition: all 0.5s ease;
    z-index: 999;
  }

  .links_list li {
    width: 100%;
    margin: 1em 0;
  }

  .menu_icon {
    display: block;
  }

  .open {
    left: 0;
  }
}
