.post_detail {
  margin-bottom: 2em;
  border-bottom: 1px solid #aaa;
}

.post_detail img {
  max-width: 600px;
}

.post_detail h2 {
  margin-bottom: 0.4em;
}

.tags {
  margin-bottom: 1em;
  display: flex;
}

.tags p {
  margin-right: 0.5em;
}

.tags span {
  font-weight: 700;
  color: rgba(204, 204, 204, 0.658);
}

.createdby {
  font-style: italic;
  color: #adadad;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.read_link {
  margin-bottom: 1em;
}
