.post_detail {
  margin-bottom: 2em;
}

.post_detail img {
  max-width: 600px;
}

.post_detail h2 {
  margin-bottom: 0.4em;
}

.post_detail .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.tags p {
  margin-right: 0.5em;
}

.tags span {
  font-weight: bold;
}

.createdby {
  font-style: italic;
  color: #444;
  font-size: 0.8em;
  margin-bottom: 1em;
}

@media screen and (max-width: 1024px) {
  .post_detail img {
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .post_detail {
    max-width: 300px;
  }

  .post_detail img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
}
