.post_detail {
  margin-bottom: 2em;
  border-bottom: 1px solid #aaa;
}

.post_detail img {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.post_detail h2 {
  margin-bottom: 0.4em;
}

.tags {
  margin-bottom: 1em;
  display: flex;
}

.tags p {
  margin-right: 0.5em;
}

.tags span {
  font-weight: 700;
  color: rgba(204, 204, 204, 0.658);
}

.createdby {
  font-style: italic;
  color: #adadad;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.read_link {
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .post_detail img {
    width: 290px;
    margin-bottom: 1em;
  }

  .post_detail {
   margin: 1em;
  }
}
