.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.search input {
  margin-right: 10px;
  width: 50%;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.2em;
    text-align: center;
  }
}


